/* CSS COLOR */
/* **************************************************************** */
input{
    background-color: #dddddd;
    border: white;
    color: black;
}
.op{
    background-color: #B4B3B3;
    border: white;
    color: black;
}
button{
    background-color: #dddddd;
    border: white;
    color: black;
}
button:hover{
    background-color: #cccbcb;
    border: white;
    color: black;
}

.op:hover{
    background-color: #a09e9e;
    border: white;
    color: black;
}