/* CSS LAYOUT */
/* **************************************************************** */
input{
    height: 30px;
    width: 50px;
    display: flex;
}
button{
    
    display: flex;
    margin: 3px;
    height: 30px;
    width: 30px;
}
